@font-face {
  font-family: 'Mooli';
  src: url(<link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mooli&display=swap" rel="stylesheet">
  )
}

* {
  font-family: Arial;
}

h1 {
  width: 100%;
  max-width: 825px;
  margin: 30px auto;
  padding: 5px 10px;
  background-color: rgb(230, 230, 230);
  font-family: "Mooli", sans-serif;
}

h2, h3 {
  width: 100%;
  max-width: 825px;
  margin: 20px auto;
  padding: 5px 20px;
  background-color: rgb(230, 230, 230);
  font-family: "Mooli", sans-serif;
}

.body-spacing {
  width: 100%;
  max-width: 800px;  
  margin: 10px auto;
}

.content {
  width: 100%;
  max-width: 800px;
  margin: 0px auto; 
  padding: 20px 20px;
}

.ordered {
  width: 90%;
  padding: 0px 20px 20px 20px;
}

.background-lightblue {
  background-color: rgb(230, 249, 255);
}

.form-id {
  width: 80%;
  margin: 0px auto;
  padding: 20px;
  background-color: rgb(230, 230, 230);
}


@media (max-width: 900px) {
  h1, h2{
    max-width: 625px;
  }
  
  .body-spacing, .content{
    max-width: 600px;
  }
}

@media (max-width: 650px) {
  h1, h2, .body-spacing, .content {
    width: 90%;
  }
}


